@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #171717;
  --secondary: #fff;
  --primary: #e91e63;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primaryy: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondaryy: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --radius: 0.25rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #76253c;
  --secondary: #fddcd0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #76253c;
    --secondary: #fddcd0;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}
